<div class="welcome">
  <h1>SocialProof</h1>
  <h2>Welcome!</h2>
  <p>Tired of having to check multiple sources for your social media feeds? SocialProof puts your social media in one place. Consolidate your browsing and find the content that's relevant to you faster with SocialProof!</p>
  <p>We currently offer access to Twitter and Instagram feeds but we'll be adding more soon.</p>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
<h2>Sign up</h2>

<div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", :class => "btn" %></div>
      <% end %>

      <div class="linksdevise">
        <%= render "devise/shared/links" %>
      </div>